.search_image { /*search results images */
    height: 300px;
    width: 400px;
}

body{

    color: white;
    background-color:rgba(0, 0, 0, 0.966);
}

#game_details_image { /*image from a single game's details page */
    height: 300px;
    width: 400px;
}



.review_display { /* used for each review in show_reviews.html */
    padding-top: 10px;
    padding-bottom: 5px;
}


.inline { /* anything that needs to be inline */
    display: inline;
}


.chart-container{ /* for charts used with chart.js */
    padding-top: 20px;
    padding-left: 30px;
    padding-bottom: 20px;
}

h1 h2 h3 {
    padding-bottom: 50px;
}


.center-text {
    text-align: center
}

/* .bg-image-login {
    background-image: url("/static/img/bg56.jpeg");
    background-size: cover;
    height: 100vh; 
} */


.card-transparent {
    border-radius: 5px;
    border-style: groove;
    border-color: rgb(229, 234, 234);
    padding-top: 25px;
}


@font-face {
    font-family: montserrat ;
    src: url("/static/Montserrat/Montserrat-BoldItalic.ttf");
}

.container-fluid {
    font-family: montserrat ;
    padding-top: 55px ;
    margin: 0;
}

.form-control {
    opacity: .8;
    border-style: solid;
    border-color: white;
}

/* .bc-image-create-acct {
    background-image: url("/static/img/bg54.jpeg");
    background-size: cover;
    height: 100vh; 
} */

#passwordHelpBlock {
    /* font-size: ; */
    opacity: .8
}


#charLength {
    color: white;
}


#pwMatch {
    color: white;
}

.big {
    font-size: 50px;;
}


.btn-transparent {
    border-radius: 5px;
    border-style: solid;
    border-color: white;
    border-width: 1pt;
}

.checkbox {
    border-color: white;
}

.hyper {
    font-size: large;
}


.flash{
    text-align: center;
    font-size: large;
}

.filters{
    margin-left: 50px;
    background-attachment: scroll;
    height: 60%;
}


.vertical-center {
    margin: 0;
    position: absolute;
    top: 40%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
  }



#backlog-title {
padding-left: 50px;
padding-bottom: 80px;
}


.navbar-bg {
    background-color: black;
}

.navbar-text {
    border-bottom-style: solid;
}
.card-title {
    padding-top: 20px;
}

.card-subtitle{
    padding-top: 30px;
}

#sort-by{
    padding-bottom: 30px;
}

.bl-cards {
    margin-left: 20px;
    margin-right: 20px;
    background-color: rgba(0, 0, 0, 0.842);
    border-color: rgba(255, 255, 255, 0.64);
    
}


.card-body {
    font-size: medium;
    padding-bottom: 2;
    margin-bottom: 10px;;
}

.backlog-entry-title {
    margin-bottom: 30px;;
}



.list-group-item{
    background-color: rgba(0, 0, 0, 0.842);
    color: white;
    text-align: center;
    margin-bottom: 10px;
}

.right-border {
    border-right-color: white;
}


.bl-entry-img {
width: 100%;
   /* object-fit: cover; */
   height: 197px;
   border-color: white;
   border-right-style: solid;
   border-right-width: 1px;
   overflow-y: scroll;
}

.row-height {
    height: 220px;
}

.card-style {
    height: 200px;
    background-color: rgba(0, 0, 0, 0.842);
    border-color:rgba(255, 255, 255, 0.5);
    margin-bottom: 20px;
    margin-left: 10px;
    margin-right: 100px;;
}