.search_image { /*search results images */
    height: 300px;
    width: 400px;
}


#game_details_image { /*image from a single game's details page */
    height: 300px;
    width: 400px;
}


label { /*used in change_account.html- keeps form structure */
    width: 90px;
    display: inline-block;
}


body{
    font-family : "montserrat";
    /* margin: 10px; */
    /* background-color: black;
    color: white; */
}

.bold {  /*bold*/
    font-weight: bold;
}


.backlog_image { /*images from "/view_backlog" */
    width: 180px;
    height: 160px;
    outline: auto;
}


.backlog_entry { /* for each backlog entry */
    display: inline-block;
    padding-inline: 30px;
    align-items: center;
    width: 210px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.backlog_title { /* titles in "/view_backlog  */
    overflow-wrap: break-word;
}


.review_display { /* used for each review in show_reviews.html */
    padding-top: 10px;
    padding-bottom: 5px;
}


.inline { /* anything that needs to be inline */
    display: inline;
}


.chart-container{ /* for charts used with chart.js */
    padding-top: 20px;
    padding-left: 30px;
    padding-bottom: 20px;
}

h1 {
    padding-top: 30px;
    padding-bottom: 40px;
}


.logout_button{ /* logout buttons */
    float:right;
}


/* #login-background {
    background-image: url('') ;
} */