.search_image {

    height: 300px;
    width: 400px;
}

#game_details_image {

    height: 300px;
    width: 400px;
}



label {
    width: 90px;
    display: inline-block;
}



body{
    margin-left: 10px;
}


#details_form {

    display: inline
}

.backlog_image {

    width: 180px;
    height: 160px;
    outline: auto;
}

.backlog_entry {

    display: inline-block;
    padding-inline: 30px;
    align-items: center;
    width: 210px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.backlog_title {
    overflow-wrap: break-word;
}

.review_display {

    padding-top: 10px;
    padding-bottom: 5px;
}

.inline {

    display: inline;
}


.chart-container{
    padding-top: 20px;
    padding-left: 30px;
    padding-bottom: 20px;
}