{% extends 'base.html' %}

{% block title %} Add Game {% endblock %} 


{% block content %}

    <form action="/search_results">

        Search for a game <input type="text" name="game"> &nbsp;
        Search By Genre: 
        <select name="genre">

            <option></option>
            {% for genre in genres %}
                <option value=" {{ genre.name }} "> {{ genre.name }}</option>
            {% endfor %}

        </select>
        <input type="submit">
    </form>


{% endblock %}