{% extends 'base.html' %}

{% block title %} Add Game {% endblock %} 


{% block content %}

    <form action="/search_results">

        Search for a game <input type="text" name="game"> &nbsp;
        Search By Genre: 
        <select name="genres" >

            <option></option>
            {% for genre in genres %}
                <option value="{{ genre }}">{{ genre }}</option>
            {% endfor %}

        </select>
        <input type="submit">
    </form>

<p><button onclick="location.href='/view_backlog'" type="button">Back </button> </p>

{% endblock %}