{% extends 'base.html' %}

{% block title %} Add Game {% endblock %} 


{% block content %}

    <div class="container-fluid">

        <div class="row pt-3 pb-3 mg-4">

            <div class="col-5 mx-auto card-transparent pb-2 ">
              <div class="card-body">
         
                <form action="/search_results">

                    <h4 class="text-center card-title">Find A Game</h4>
      



                    <div class="form-group pt-4  mb-2">
                        <div class="col-10 mx-auto">
                            <input type="text" class="form-control"  name="game"> 
                        </div>
                    </div>

                    <div class="form-group pt-4  mb-2">
                        <div class="col-10 mx-auto"></div>
                            <label> Search By Genre: </label>
                            <select class="form-select-sm mt-3" name="genres" >

                                <option></option>
                                {% for genre in genres %}
                                    <option value="{{ genre }}">{{ genre }}</option>
                                {% endfor %}

                            </select>
                        </div>
                    </div>







                    <input class="btn btn-sm del-btn form-control mt-3" type="submit">

                    <!-- <p><button onclick="location.href='/view_backlog'" type="button">Back </button> </p> -->
                <!-- </form>
            </div>  
        </div>     -->
        <!-- <p><button onclick="location.href='/view_backlog'" type="button">Back </button> </p>
    </div>

{% endblock %}