{% extends 'base.html' %}

{% block title %} User's Backlog {% endblock %} 


{% block content %}



    {% if current_user.is_authenticated %}<h1>
    Welcome, {{ current_user.fname }} </h1>
    {% endif %}
    
    <h2>Here are your entries.</h2>
    <ul>
        <li><a href="/add_game">Click here to add a game to your backlog.</a> </li>
        <li><a href="/add_review">Click here to review a game you've completed.</a> </li> 
        <li><a href="/show_user_details">See Account Details</a></li> 
        <li><a href="/logout">Log out</a></li>
    </ul>

    

{% endblock %}




