{% extends 'base.html' %}

{% block title %} Delete Account{% endblock %} 


{% block content %}


    <div class="container-fluid">
        <div class="delete-acct">
            <h4 class="del-question">Are you sure you want to delete your account? This change is permanent.</h4>

            <button class="btn btn-sm del-btn" onclick="location.href='/delete_account'" type="button">Delete</button>

            <button class="btn btn-sm del-btn" onclick="location.href='/show_user_details'" type="button">Cancel</button> 
        </div>
    </div>

{% endblock %}
