{% extends 'base.html' %}

{% block title %} {{ data['name'] }} Details {% endblock %} 



{% block content %}

    <h1>{{ data['name'] }}</h1>
    <img id="game_details_image" src=" {{ data['background_image'] }}">
    <p>Description: {{ data['description'] | safe }}</p>
    <p>Metacritic Score: {{ data['metacritic'] }}</p>
    <p>Release Date: {{ data['released'] }}</p>
    <p>Website: <a href=" {{ data['website'] }}"> {{ data['website'] }}</a> </p>
    <p>Average Playtime: {{ data['playtime']}} hours</p>
    <p>ESRB Rating: {{ esrb }}</p>
    <p>Available on:</p>

    {% for platform in data['platforms'] %}
        <li> {{ platform['platform']['name'] }}</li>
    {% endfor %}
    
    <p>In the News:</p>
    {% for article in articles %}
    <li><a href="{{  article['url']  }}"> {{ article['title'] }}</a> </li>
    {% endfor %}




    <h2>Add game to your Backlog?</h2>

    <form action="/backlog_validation" method="POST">  

        <input type="hidden" name="title" value="{{ data['name'] }}">
        <input type="hidden" name="description" value="{{ data['description'] }}">
        <input type="hidden" name="rawg_id" value="{{ data['id'] }}">
        <input type="hidden" name="game_image" value=" {{ data['background_image'] }}">


        Ownership Status:
        <select name="ownership_status" >
            <option value="Owned">Owned</option>
            <option value="Not Owned">Not Owned</option>
            <option value="Unreleased">Unreleased</option>
        </select> &nbsp;

        Are you currently playing this game?
        <select name="play_status">
            <option value="Yes">Yes</option>
            <option value="No">No</option>
        </select> &nbsp;

        Genre: 
        <select name="genres" >
            <option></option>
            {% for genre in genres %}
                <option value="{{ genre.name }}">{{ genre.name }}</option>
            {% endfor %}
        </select> &nbsp;

        Platform:
        <select name="platforms" >
            <option></option>
            {% for platform in platforms %}
                <option value="{{ platform.name}}">{{ platform.name }}</option>
            {% endfor %}
        </select> &nbsp;

        <input value="Add Game" type="submit" >

    </form><br>

    <button onclick="location.href='/add_game'" type="button">Back to Search</button>

{% endblock %}
