
{% extends 'base.html' %}

{% block title %} Log In {% endblock %} 


{% block content %}


  <h1>Welcome to the Backlog Tracker</h1>
 
  <form action="/login_confirmation" method="POST">

    <h3>Please enter your login information.</h3>

    <p><label>Email</label><input type="email" name="email"> &nbsp;</p>
    <p><label>Password</label><input type="password" class="password" name="password"> </p>
    <p><input type="checkbox" onclick="togglePasswordVisibilty()">Show Password</p>
      
    <p><input type="submit"></p>

    <p>Don't have an account? <a href="/create_account">Sign Up</a> </p>

  </form>
 
    

{% endblock %}



