
{% extends 'base.html' %}

{% block title %} Log In {% endblock %} 


{% block content %}

  <h1>Welcome to the Backlog Tracker</h1>
 
  <form action="/login_confirmation" method="POST">

    <h3>Please enter your login information.</h3>

     <Label>Email</Label> <input type="text" name="email" >
     <Label>Password</Label> <input type="password" class="password" name="password">
     <input type="checkbox" onclick="myFunction()">Show Password
      <br> <br>
      <input type="submit">

      <p>Don't have an account? <a href="/create_account">Sign Up</a> </p>

  </form>
 
    

{% endblock %}



