
{% extends 'base.html' %}

{% block title %} {{ current_user.fname}}'s Backlog {% endblock %} 



{% block content %}


  <div class="container-fluid text-white bg-img-backlogs">
 
    <div class="row">
      </div class="col">

        {% if current_user.is_authenticated %}<h1 id="backlog-title">
          {{ current_user.fname}}'s Backlog</h1>
        {% endif %}
    
        <ul>
          {% for message in get_flashed_messages() %}
              <p class="flash">{{ message }}</p>
          {% endfor %}
        </ul>
        
        <div id="page"></div> 
        <script type="text/jsx" src="/static/js/organize_backlogs.jsx"></script>
      </div>
    </div>

  </div>
{% endblock %}

    





