{% extends 'base.html' %}

{% block title %} {{ current_user.fname }}'s Backlog {% endblock %} 


{% block content %}

    {% if current_user.is_authenticated %}<h1>
        {{ current_user.fname}}'s Backlog</h1>
    {% endif %}
    

    {% for backlog in backlogs %}
        <div class="backlog_entry">
            <h4 class="backlog_title">{{ backlog.game.title }}</h4>
            <img class="backlog_image" src="{{ backlog.game.image }}">
            Genre: {{ backlog.genre }} <br>
            Ownership Status: {{ backlog.ownership_status }} <br>
            Play Status: {{ backlog.play_status }} <br>
            Playing On: {{ backlog.platform}}

        </div>          
    {% endfor %}


    <p>View Backlogs By:</p>

    <form action="/organize_backlogs">
        <select name="backlog_organization"> 
            <option value="Ownership Status">Ownership Status</option>
            <option value="Platform">Platform<option>
            <option value="Genre">Genre</option>
            <option value="Play Status">Play Status</option>      
            <option value="Alphabetical">Alphabetical</option>       
        </select>
        <input type="submit">
    </form>


    <ul>
        <li><a href="/add_game">Add a game to your backlog.</a> </li>
        <li><a href="/edit_backlog_selection">Edit a backlog entry.</a> </li>
        <li><a href="/delete_backlog">Delete a game from your backlog.</a> </li>
        <li><a href="/add_review">Review a game you've completed.</a> </li> 
        <li><a href="/view_reviews">See Your Reviews</a> </li> 
        <li><a href="/show_user_details">See Account Details</a></li> 
        <li><a href="/show_charts">See your play statistics.</a> </li>
    </ul>

{% endblock %}

