{% extends 'base.html' %}

{% block title %}{{ current_user.fname }}'s Reviews  {% endblock %} 


{% block content %}

    <div class="container-fluid">

        <h1 style="margin-left: 10px;">{{ current_user.fname }}'s Reviews</h1>

        <div class="row row-cols-1 g-4">

            

            {% for review in reviews %}
                    <div class="col">

                        <div class="card review-cards">
                            <div class="card-body"> 
                                <h3 class="card-subtitle mb-3" >{{ review.game.title}}</h3>

                                <div class="card-text">
                                    <p>Score: {{ review.score}}</p>   
                                    <p>Played On: {{ review.platform }}</p>
                                    <p> Completion Time: {{ review.completion_time }} Hours</p>  
                                    <p>Review: {{ review.body }}</p> 
                                </div>
                            </div>
                        </div>

                    </div>
            {% endfor %}

        </div>

        <a class="btn mb-5" style="margin-left:10px; background-color: transparent; color: white;border-color: white;" href="/add_review">Add Review</a>

        <button onclick="location.href='/view_backlog'" type="button" class="btn mb-5" style="background-color: transparent; color: white;border-color: white;">Back</button> 

    </div>

    {% endblock %}


        <!-- <form action="/edit_review_form" class="inline" method="POST">
            <select name="review">
                    {% for review in reviews %}
                    <option value="{{ review.review_id }}">{{ review.game.title }}</option>
                {% endfor %}
            </select>
            <input value="Edit" type="submit">
        </form> 
     -->
    
        <!-- <h2>Delete Review?</h2>
        <h4>Which review would you like to remove?</h4>
     
        <form action="/delete_review" class="inline" method="POST">
            <select name="review">
                    {% for review in reviews %}
                    <option value="{{ review.review_id }}">{{ review.game.title }}</option>
                {% endfor %}
            </select>
            <input value="Delete" type="submit">
        </form>  -->
    
        


