{% extends 'base.html' %}

{% block title %}{{ current_user.fname }}'s Reviews  {% endblock %} 


{% block content %}

    <h1>{{ current_user.fname }}'s Reviews</h1>

    {% for review in reviews %}
        <div class="review_display">
            <h3>{{ review.game.title}}</h3>
            <p>Score: {{ review.score}}</p>   
            <p>Played On: {{ review.platform }}</p>
            <p> Completion Time: {{ review.completion_time }} Hours</p>  
            <p>Review: {{ review.body }}</p>    
        </div>
    
    {% endfor %}

    <a href="/add_review"><h2 class="inline"> Add Review </h2></a>
    <!-- <button onclick="location.href='/add_review'" type="button">Add</button>  -->
    

    <h2>Edit Review?</h2>
    <h4> Which review would you like to change?</h4>

    <form action="/edit_review_form" class="inline" method="POST">
        <select name="review">
                {% for review in reviews %}
                <option value="{{ review.review_id }}">{{ review.game.title }}</option>
            {% endfor %}
        </select>
        <input value="Edit" type="submit">
    </form> 

    <h2>Delete Review?</h2>

    <h4>Which review would you like to remove?</h4>
 
    <form action="/delete_review" class="inline" method="POST">
        <select name="review">
                {% for review in reviews %}
                <option value="{{ review.review_id }}">{{ review.game.title }}</option>
            {% endfor %}
        </select>
        <input value="Delete" type="submit">
    </form> 

    <button onclick="location.href='/view_backlog'" type="button">Back</button> 

{% endblock %}
