{% extends 'base.html' %}

{% block title %} {% if current_user.is_authenticated %}
    {{ current_user.fname }}'s Account Information 
    {% endif %} {% endblock %} 


{% block content %}

    <div class="container-fluid">


        <div class="row mt-5">
            <div id="sign-up-width" class="col-8 mx-auto">
                <div class="card-transparent acct-info-card">
                    <div class="card-body ">

                        
                        <h4 class=" card-title account-info-title">Account Information </h4>


                        <h5 class="acct-info-data" >First Name: {{ current_user.fname }}</h5>
                        <h5 class="acct-info-data">Last Name: {{ current_user.lname }}</h5>
                        <h5 class="acct-info-data">Email: {{ current_user.email }}</h5>

                        <a class="btn btn-light btn-sm col mb-2 mt-2 form-control" href="/change_account_info_form">Change Account</a> 

                        <a class="btn btn-light col btn-sm form-control " href="/delete_account_confirmation" id="delete_account">Delete account</a>
                    
                    </div>
                </div>    
            </div>
        </div>
    </div>

{% endblock %}


