{% extends 'base.html' %}


{% block title %} {% if current_user.is_authenticated %}
    {{ current_user.fname }}'s Data 
    {% endif %} {% endblock %} 

    
   
{% block content %}

    <h1>{{ current_user.fname }}'s Stats</h1>    

    <h2>Total Hours Played: {{ completion_time }} Hours</h2>

    <!--need a way to transfer data queried from db into chart: js-->

    <!-- import chart.js -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.3.2/chart.js"></script>


    <h3>Hours Played By Genre</h3>
    <canvas id="hoursByGenreChart" ></canvas>




    <script src="/static/js/charts.js"></script>  

{% endblock %}
