{% extends 'base.html' %}


{% block title %} {% if current_user.is_authenticated %}
    {{ current_user.fname }}'s Stats 
    {% endif %} {% endblock %} 

    
   
{% block content %}

    <h1>{{ current_user.fname }}'s Stats</h1>    

    <p>Total Hours Played: {{ completion_time }}</p>

    <!--need a way to transfer data queried from db into chart: js-->

    <!-- import chart.js -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.3.2/chart.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-datalabels@2.0.0-rc.1/dist/chartjs-plugin-datalabels.min.js" integrity="sha256-Oq8QGQ+hs3Sw1AeP0WhZB7nkjx6F1LxsX6dCAsyAiA4=" crossorigin="anonymous"></script>
    
    <div class="chart-container" style="position: relative; height:70vh; width:80vw">
        <canvas id="hoursByGenreChart"></canvas>
    </div>

    
    <div class="chart-container" style="position: relative; height:70vh; width:80vw">
        <canvas id="genrePercentagesChart"></canvas>
    </div>

    
    <div class="chart-container" style="position: relative; height:70vh; width:80vw">
        <canvas id="hoursByPlatformChart"></canvas>
    </div>
    

    <div class="chart-container" style="position: relative; height:70vh; width:80vw">
        <canvas id="platformPercentagesChart"></canvas>
    </div>

    <small>*Data used from submitted reviews</small><br><br>

    <button onclick="location.href='/view_backlog'" type="button">Back</button>

    <script src="/static/js/charts.js"></script>  
{% endblock %}
